* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lateef", cursive;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(235, 239, 240);
}

.all_news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 50px auto;
}
.news {
  max-width: 500px;
  padding: 30px;
  border: 1px solid rgb(151, 133, 133);
  border-radius: 5px;
}
.news__title {
  padding-bottom: 10px;
}
.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 18px;
  padding-bottom: 10px;
}
.news__author {
  margin-right: 10px;
  color: rgb(150, 73, 150);
}

.news__published {
  margin-right: 10px;
}

.news__source {
}
